@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
   
}
.block2 ,.block3 {
   height:700px;
   
}

html,body {
    
    margin: 0;
    padding: 0;
    background-color:#ECECEC;
    }    

nav{
    background-color:#ECECEC;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px
}
nav h1{
    color: rgb(9, 9, 10);
    flex: 1;
}

.navbar {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    align-items: center;
    

}
.navbar div{
    margin: 0;
    padding: 0;
    font-family:'Montserrat' ,sans-serif;
    

    
    
    
    

}
.navbar div:hover a{
    color: orange;
    border-bottom-color: cadetblue;
    
   
}



.navbar a{

    color: rgb(42, 33, 33);
    text-decoration: none;
    border-bottom: 7px solid transparent;
    
    

}

.block2{
    
    display: flex;
    background-color: aliceblue;
    background-image: url(./images/wallp2.PNG);
    background-size: cover;
}

.intro{
    width: 60%;
    background: transparent;
    margin: 0;
    padding: 10%;
   
}

.intro,.introtext {
    padding: 0;
    margin: 0;
}
.intro{
    display: flex;
    flex-direction: column;
    font-size: 100px;
    align-items: center;
    justify-content: center;
}
.suppic{
    flex:1;
    margin-right: 5px;
    
}
.intro p {
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.intro button{
    background-color: rgb(55, 6, 6);
    font-family: 'Lato', sans-serif;
    padding: 10px 44px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 10px;
}

.intro a{
    text-decoration: none;
    color:white
}

.block3 {
    background-image: url('./images/origin\ story.PNG');
    background-size: cover;
    height: 600px;
    display: flex;
    padding-top: 5%;
    
}

.b3{
    background:transparent;
    margin-left: 50%;
    padding-top: 5px;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex:2;
    justify-content: space-evenly;    
   
}
.block pre,.block h3,.statbox{
    padding-left: 30px;
    font-family:'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.statbox {
    color: bisque;
    background-color: rgb(71, 64, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 7vh;
    height: 78%;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.b3 h1 {
    font-family:'Poppins' ,sans-serif;
    align-self: center;
    font-size: 50px;
}
.block4 , .block5 {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    height: 900px;
    align-items: center;
}
.block h1 {
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    margin-bottom: 5vh;
    
}


table td {
   
   padding: 20px; 
   text-align: left;
   

}
table .a span {
    
    visibility: hidden;
    
}

.row1:hover .a{
    position: relative ;
    
}
.row1:hover .a span{
    position: absolute;
    left: 20px;
    visibility: visible;
    color: rgb(71, 64, 133);
    
}


table .row1:hover {
    background-color: bisque;
}
.block4 p {
    padding-top: 3%;
    font-family: 'Montserrat',sans-serif;
    font-size:25px ;
    padding-left: 20%;
    padding-right: 20%;
}

.block6{
    font-family: 'Poppins' ,sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.block6 .team-container {

    height:500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 40% ;
     

}
.team-container div {
    margin: 60px
}

.qm {
    
    height:80%;
}
.sk{
    height: 80%;
    width: 400px;
}
.team-container h1 {
    visibility: hidden;
}

.qmd:hover .qmt{
    visibility: visible;
    
    

} 
.skd:hover .skt{
    visibility: visible;
} 



